.stepperApp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.steps-container {
    position: relative;
    width: 100%;
    margin: 15px;
    margin-bottom: 40px;
}
.progress-line {
    position: absolute;
    height: 4px;
    background: rgb(0, 225, 124);
    width: 0;
    top: 50%;
    left: 0;
    transition: all 0.55s ease;
}
.steps-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.steps {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:rgb(0, 158, 220);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    cursor: pointer;
    z-index: 1; 
}
.steps.active {
    background-color: rgb(184, 0, 225) ;
}
  
  