body{
    background-color: rgb(70, 74, 74);
}
.ProgressApp {
    font-family: sans-serif;
    text-align: center;
    margin: 5px;
  }
  .progressApp {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    border: 2px solid black;
    margin-bottom: 20px;
    overflow: hidden;
  }
  .progress {
    height: 100%;
    background-color: #04AA6D;
    border-radius: 4px;
    text-align: center;
  }
  .button {
    background-color: #04AA6D;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }