.crypto{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 400px;
    height: 100px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(104, 4, 4, 0.7);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.3fr 1fr;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.heading{
    text-align: center;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    width: 75px;
    height: 75px;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.row{
    display: flex;
    justify-content: space-between;
}
.name, .price{
    font-size: 22px;
    font-weight: bold;
}
.short-name, .change{
    font-size: 20px;
}
.change{
    color: red;
}