/* body{
    align-items: center;
    display: flex;
    justify-content: center;
}
.starContainer{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid red;
    box-shadow: 1px 1px 1px 1px rgba(1, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stars{
    font-size: 40px;
}
.star{
    padding: 5px;
    color: grey;
    cursor: pointer;
}
.star-filled {
    color: #08a350;
}
.container{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
blockquote{
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
}
h4{
    text-decoration: underline;
} */
.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }